# Carpeta de configuración de Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignorar la carpeta .vscode/ en cualquier subcarpeta
**/.vscode/

# Carpetas generadas por Visual Studio
.vs/

# Archivos generados por Visual Studio
*.suo
*.user
*.sln.docstates

# Carpetas generadas por .NET
bin/
obj/
